:root {
  --dark-sf: #22b19d;
  --darker-sf: #033830;
  --pfolio-img: 190px;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
  color: var(--darker-sf);
}

header {
  margin-bottom: 25px;
}

/* Section Styling */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

/* Text Styling */
.light-text {
  font-weight: 300;
}

.medium-text {
  font-weight: 500;
}

.semibold-text {
  font-weight: 600;
}

.sz-sm {
  font-size: 14px;
}

.sz-md {
  font-size: 16px;
}

.sz-lg {
  font-size: 24px;
}

.sz-xl {
  font-size: x-large;
}

.sz-xxl {
  font-size: 70px;
}

.italic {
  font-style: italic;
}

/* Text Color */
.dark-sf,
h1,
h2,
h3,
h4 {
  color: var(--dark-sf);
}

/* Custom Element Styling */

.portfolio-image {
  width: var(--pfolio-img);
  height: var(--pfolio-img);
  border-radius: 50%;
  border: 10px solid var(--dark-sf);
  background-image: url("/imgs/me_500x500.png");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  /* CSS rules for small screens */
  main {
    margin: 2rem;
  }

  header {
    display: flex;
    justify-content: end;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    visibility: visible;
    width: 60px;
    height: 35px;
  }

  .hb-line {
    border: 3px solid var(--dark-sf);
    border-radius: 3px;
    width: 100%;
  }

  .hb-line:nth-of-type(2) {
    width: 90%;
  }

  .hb-line:nth-of-type(3) {
    width: 55%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* CSS rules for medium screens */
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for large screens */
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for extra-large screens */
}

@media screen and (min-width: 1201px) {
  /* CSS rules for extra-extra-large screens */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  /* CSS rules for retina displays */
}

@media screen and (orientation: landscape) {
  /* CSS rules for landscape orientation */
}

@media screen and (orientation: portrait) {
  /* CSS rules for portrait orientation */
}

@media print {
  /* CSS rules for printing */
}
