@media screen and (max-width: 768px) {
  /* CSS rules for medium screens */

  header {
    display: flex;
    justify-content: end;
    width: 100%;
    height: fit-content;
    margin: 0;
    transition: all 1s ease-in-out;
  }

  header > div.social-icons {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }

  header > nav > ul > li:nth-of-type(4) {
    visibility: visible;
    position: relative;
  }

  body > div.container {
    display: block;
    background: url("../assets/bg-mobile.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
  }

  #hamburger-icon {
    position: relative;
    visibility: visible;
  }
  .exit-icon {
    position: absolute;
    visibility: visible;
  }

  section#about {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (min-width: 769px) {
  #hamburger-icon,
  .exit-icon {
    position: absolute;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for large screens */

  section#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    transition: all 1s ease-in-out;
  }

  section#about > div.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 75%;
    transition: all 1s ease-in-out;
  }

  section#projects > div.content {
    transition: all 1s ease-in-out;
  }

  section#skills {
    width: 100%;
  }

  div.section-header {
    display: grid;
    place-items: center;
  }

  div.content > h4,
  div.content > h3 {
    text-align: center;
  }

  .portfolio-image {
    min-width: var(--sm-pfolio-img);
    min-height: var(--sm-pfolio-img);
    border-radius: 50%;
    border: 8px solid var(--dark-sf);
    background-image: url("../assets/imgs/me_500x500.png");
    background-position: center;
    background-size: cover;
  }

  .project-item {
    background-color: var(--lighter-color);
    padding: 15px;
    min-height: 250px;
    height: 250px;
    border-radius: 12px;
    box-shadow: var(--backdrop);
  }

  .project-item-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(42, 42, 42);
    padding: 10px;
    height: 100%;
    border-radius: 10px;
  }

  .project-item-content > p {
    color: white;
    padding: 0 10px 10px;
    font-size: var(--sm-text-size);
    font-weight: var(--medium-text-weight);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for extra-large screens */
  section#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    transition: all 1s ease-in-out;
  }

  section#about > div.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 70%;
    transition: all 1s ease-in-out;
  }
}

@media screen and (min-width: 1201px) {
  /* CSS rules for extra-extra-large screens */

  main {
    width: 100%;
    max-width: 1080px;
    transition: all 1s ease-in-out;
  }

  body > div.container {
    margin-bottom: 0;
  }

  section#projects > div.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
    gap: 2rem;
  }

  section#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  section#skills > div.content-container {
    display: flex;
    flex-direction: row;
    background-color: var(--lighter-color);
    box-shadow: var(--backdrop);
    border-radius: 10px;
    height: 100%;
    transition: all 0.25s ease-in-out;
  }

  section#skills > div.content-container:hover {
    transform: translate(-20px, -20px);
    box-shadow: var(--backdrop-hover);
  }

  section#skills > div.content-container > div.content:hover {
    transform: none;
    box-shadow: none;
  }

  section#skills > div.content-container > div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    border-radius: 10px;
    padding: 30px 30px 0;
    box-shadow: none;
    width: 100%;
  }

  span.vertical-rule {
    height: 250px;
    border: 2px solid var(--dark-sf);
    border-radius: 2px;
  }

  section#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    transition: all 1s ease-in-out;
  }

  section#about > div.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 80%;
    transition: all 1s ease-in-out;
  }
}

@media screen and (min-width: 475px) and (max-width: 769px) {
  body > div.container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1425px) {
  body > div.container {
    margin-bottom: 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  /* CSS rules for retina displays */
}

@media screen and (orientation: landscape) {
  /* CSS rules for landscape orientation */
}

@media screen and (orientation: portrait) {
  /* CSS rules for portrait orientation */
}

@media print {
  /* CSS rules for printing */
}
