/* Section Styling */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  max-width: 1080px;
  margin: 0;
  transition: all 1s ease-in-out;
}

main {
  max-width: 800px;
  transition: max-width 1s ease-in-out;
}

body > div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-image: url("../assets/bg-desktop.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  transition: margin-bottom 0.1s ease-in-out;
}

section#about > div.content > p {
  text-align: left;
  margin-bottom: 0;
  transition: all 1s ease-in-out;
}

section#skills > div.content-container > div.content:hover,
.project-item:hover {
  transform: translate(-20px, -20px);
  box-shadow: var(--backdrop-hover);
}

section,
section#skills > div.content-container,
section#projects > div.content {
  display: grid;
  place-items: center;
  margin-bottom: 75px;
  gap: 3rem;
  width: 100%;
}

section#skills > div.content-container {
  gap: 1.5rem;
}

section#skills > div.content-container > div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lighter-color);
  border-radius: 10px;
  padding: 30px 30px 0;
  box-shadow: var(--backdrop);
  width: 100%;
  transition: all 0.25s ease-in-out;
}

div.section-header {
  display: grid;
  place-items: center;
}

div.content > p {
  text-align: center;
  margin-bottom: 30px;
}

div.content > h4,
div.content > h3 {
  text-align: center;
}

/* Custom Element Styling */

hr {
  width: 12%;
  border: 2px solid var(--dark-sf);
  border-radius: 2px;
  margin-bottom: 30px;
}

.portfolio-image {
  min-width: var(--md-pfolio-img);
  min-height: var(--md-pfolio-img);
  border-radius: 50%;
  border: 10px solid var(--dark-sf);
  background-image: url("../assets/imgs/me_500x500.png");
  background-position: center;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.project-item {
  background-color: var(--lighter-color);
  padding: 15px;
  min-height: 250px;
  height: 250px;
  border-radius: 12px;
  box-shadow: var(--backdrop);
  width: 100%;
  transition: all 0.25s ease-in-out;
}

.project-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(42, 42, 42);
  padding: 10px;
  height: 100%;
  border-radius: 10px;
}

.project-item-content > p {
  color: white;
  padding: 15px 10px 10px;
  font-size: var(--sm-text-size);
  font-weight: var(--medium-text-weight);
}

.project-item-content > a {
  width: fit-content;
}

.project-item-content > a > h3 {
  margin: 0;
  width: fit-content;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  width: 100px;
}

.social-icon {
  filter: none;
  fill: var(--dark-sf);
  transition: all 0.125s ease-in-out;
}

.social-icon:hover {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
  fill: white;
}

footer {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  max-width: 1080px;
}

footer > nav {
  width: 75%;
  margin-bottom: 25px;
}

footer > p.copyright {
  text-align: center;
  font-weight: var(--medium-text-weight);
  font-size: 14px;
}

footer > nav > ul {
  display: flex;
  justify-content: space-around;
}

footer > nav > ul > li > a {
  color: var(--dark-sf);
  font-weight: 400;
  margin: 0.5rem;
}
